.lander {
  margin: auto;
  padding: 150px 0;
  text-align: center;
}

.lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.note-item-date:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.note-date {
  font-size: 0.8rem;
  font-weight: 400;
  color: gray;
  padding: 10px 0 0 0;
}

.note-bar-menu {
  margin-right: 20px;
}

.dropdown-toggle::after,
.btn::after {
  display: none !important;
}

.notes-container {
  padding: 0 !important;
}

.note-list {
  border: "none";
  border-radius: 10px;
}
