.navbar .dropdown:hover .dropdown-menu {
  display: block;
}

.sidebar {
  background-color: aliceblue;
}

.div1 {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

@media (max-width: 600px) {
  .div1 {
    width: 100%;
  }
}
